{ 
  "__inherits": "staxel/docks/dockBase.config",
  "attachToBelow": true,
  "compound": {
    "size": {
      "x": 3,
      "y": 2,
      "z": 1
    }
  },
  "dockDefinition": "mods.InteractiveKitchen.dock.BakingStation",
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "pricing": {
    "buyable": false,
    "catalogueUnlockedFromStart": false,
    "sellPrice": 5,
    "value": 1000
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps"
}
