{
  "__inherits": "staxel/docks/dockBase.config",
  "attachToBelow": true,
  "compound": {
    "size": {
      "x": 3,
      "y": 2,
      "z": 1
    }
  },
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "dockDefinition": "staxel.docks.BoilingStation",
  "pricing": {
    "buyable": false,
    "catalogueUnlockedFromStart": false,
    "sellPrice": 5,
    "value": 200
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
