{
  "__inherits": "staxel/tileObject/base.config",
  "compound": {
    "size": {"x": 1, "y": 2, "z": 1}
  },
  "interactActionTrigger": "staxel.entityAction.OpenShippingCatalogue",
  "pricing": {
    "buyable": false,
    "catalogueUnlockedFromStart": false,
    "sellPrice": 1500,
    "value": 2500
  },
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
  "tileStateKind": "staxel.tileState.Interactable",
}
