{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "animation": "mods.InteractiveKitchen.boneAnimation.KitchenSink",
  "interactActionTrigger": "staxel.entityAction.OpenOvenAction",
  "dockDefinition": "mods.InteractiveKitchen.dock.KitchenSink",
  "attachmentDirections": ["xp"],
  "wallPushOut": true,
  "attachToBelow": true,
  "dispenser": {
    "dispenserType": "WaterFaucet",
    "interactAction": "staxel.entityAction.FillPotWater",	
    "effect": "mods.InteractiveKitchen.effect.BathroomSink",
    "offset": { "x": 0.0, "y": 0.0, "z": 0.0}
  },
  "interactVerb": "controlHint.verb.Open",
  "pricing": {
    "catalogueUnlockedFromStart": false,
    "buyable": false,
    "sellPrice": 120,
    "value": 200
  },
  "compound": {
    "size": {
      "x": 1,
      "y": 1,
      "z": 2
    }
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
