{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "animation": "mods.InteractiveKitchen.boneAnimation.KitchenCabinet_Double",
  "interactActionTrigger": "staxel.entityAction.OpenOvenAction",
  "dockDefinition": "mods.InteractiveKitchen.dock.KitchenCabinet_Double",
  "wallPushOut" : false,
  "attachToBelow" : false,
  "attachToSide": true,
  "placementDirections" : [ "xn","zp","zn" ],
  "attachmentDirections" : ["xn", "xp" ],
  "interactVerb": "controlHint.verb.Open",
  "pricing": {
    "catalogueUnlockedFromStart": false,
    "buyable": false,
    "sellPrice": 120,
    "value": 200
  },
  "compound": {
    "size": {
      "x": 1,
      "y": 1,
      "z": 2
    }
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
