{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "interactActionTrigger": "staxel.entityAction.OpenOvenAction",
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "dockDefinition": "mods.InteractiveKitchen.dock.KitchenCounter_LCorner",
  "attachmentDirections": ["xp"],
  "wallPushOut": true,
  "attachToBelow": true,
  "interactVerb": "controlHint.verb.Open",
  "pricing": {
    "catalogueUnlockedFromStart": false,
    "buyable": false,
    "sellPrice": 120,
    "value": 200
  },
  "compound": {
    "size": {
      "x": 1,
      "y": 1,
      "z": 2
    }
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
