{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "animation": "mods.InteractiveKitchen.boneAnimation.KitchenCounter_Dishwasher",
  "interactActionTrigger": "staxel.entityAction.OpenOvenAction",
  "dockDefinition": "mods.InteractiveKitchen.dock.KitchenCounter_Dishwasher",
  "attachmentDirections": ["xp"],
  "wallPushOut": true,
  "attachToBelow": true,
  "interactVerb": "controlHint.verb.Open",
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
  "pricing": {
    "catalogueUnlockedFromStart": false,
    "buyable": false,
    "sellPrice": 180,
    "value": 300
  }
}
