{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "interactActionTrigger": "staxel.entityAction.OpenOvenAction",
  "dockDefinition": "mods.InteractiveKitchen.dock.KitchenCabinet",
  "wallPushOut" : false,
  "attachToBelow" : false,
  "attachToSide": true,
  "placementDirections" : [ "xn","zp","zn" ],
  "attachmentDirections" : ["xn", "xp" ],
  "interactVerb": "controlHint.verb.Open",
  "pricing": {
    "catalogueUnlockedFromStart": false,
    "buyable": false,
    "sellPrice": 60,
    "value": 100
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
