{
  "__inherits": "staxel/docks/dockBase.config",
  "attachToBelow": true,
  "compound": {
    "size": {
      "x": 3,
      "y": 2,
      "z": 1
    }
  },
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "prefetchTileState": true,
  "animation": "staxel.boneAnimation.MixingStation",
  "spawnAction": "staxel.entityAction.ToggleMixerAction",
  "dockDefinition": "staxel.docks.MixingStation",
  "pricing": {
    "buyable": false,
    "catalogueUnlockedFromStart": false,
    "sellPrice": 600,
    "value": 1000
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
  "voxels": "staxel/tileObject/crafting/cooking/MixingStation.qb"
}
