{
  "__inherits": "staxel/docks/dockBase.config",
  "descriptionImage": "mods/InteractiveKitchen/KitchenIcon.png",
  "prefetchTileState": true,
  "tileStateKind": "staxel.tileState.ShippingDock",
  "animation": "staxel.boneAnimation.ShippingDock",
  "interactActionTrigger": "staxel.entityAction.OpenShippingCrateAction",
  "dockDefinition": "staxel.docks.ShippingDock",
  "compound": {
    "size": {
      "x": 4,
      "y": 2,
      "z": 2
    },
    "specification": "EEEE EEEE CXCC CCCC"
  },
  "pricing": {
    "buyable": false,
    "catalogueUnlockedFromStart": false,
    "sellPrice": 1500,
    "value": 2500
  },
  "searchable": false,
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
}
